body{
  font-family: sans-serif;
  font-size: 18px;
}

div {
  width: 1000px;
  margin:0 auto;
}

nav {
  text-align: center;
  font-family: sans-serif;

}

a {
  margin: 0;
  padding: 0 5px;
  color: white;
  text-decoration: none;
  line-height: 1.5em;
  display: inline-block;
  border-top: 2px solid rgba(255, 255, 255, 0);
}

a:hover{
  color: black;
}

.button {
display: inline-block;
margin: 0;
width: 50px;
height: 50px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 50%;
font-family: serif;
font-size: 30px;
font-weight: bold;
color: white;
text-align: center;
line-height: 1.8em;
}

.button:hover{
background: white;
color: black;
}

table {border-collapse: collapse;
width: 40%;
margin: auto;
float: right;
font-size: 18px;
}

h1 {
color: white;
text-align: right;
}

h2 {
font-size: 450px;
float: left;
margin: 0;
line-height:0.7em;
color: white;
font-family: serif;
}

h3{
clear: both;
margin-left: 30px;
color: white;
font-size: 1.8em;
}

h4{

  font-size: 20px;
  line-height: 1em;
  float: left;
  margin-left: 5px;
  color: white;
}

p{
clear: both;
font-size: 18px;
margin: 5px;
background-color: rgba(255, 255, 255, 0.3);
padding: 30px;
line-height: 1.5em;
font-family: serif;
}

p.footer{
  color: white;
  float: right;
  background-color: rgba(255, 255, 255, 0);
}

td {
  border: 1px solid white;
  font-size: 18px;
  text-align: center;
  line-height: 2.5em;
  background-color: rgba(255, 255, 255, 0.3);
}

th {
  border: 1px solid white;
  width: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 2.5em;
  background-color: rgba(255, 255, 255, 0.6);
}

.red {
  color: white;
  font-weight: bold;
}

.red:hover::after {
  display: block;
  width: 250px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  z-index: 1;
  content: attr(data-title);
  position: absolute;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  line-height: 1.5em;
}

hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: white; /* Цвет линии для остальных браузеров */
  background-color: white; /* Цвет линии для браузера Firefox и Opera */
  height: 2px; /* Толщина линии */
}
